h1 {
    color:red;
}

.button {
    padding:15px 40px;
    background-color:#000;
    color:#fff;
    font-size:14px;
    text-transform: uppercase;
    border-radius: 10px;
    border:none;
}

.blue {
    color:#0000FF;
}